[Unit]
Description=Set hostname on startup
Wants=network-pre.target
Before=network-pre.target tedge-mapper-c8y.service tedge-mapper-collectd.service tedge-agent.service
After=local-fs.target
ConditionPathExists=!/etc/tedge/.bootstrapped

[Service]
Type=oneshot
ExecStart=/usr/bin/tedge-bootstrap

[Install]
WantedBy=multi-user.target
